.Home {
    display: flex;
    padding: 0.5em  1.2em;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(90, 138, 232);
}

li {
    display: flex;
    justify-content: space-between;
}
li img {
    width: 2.4em;
    height:2.4em;
}

.image {
    width: 15em;
    height: 15em;
}

@media (max-width: 790px) {
    .image {
        width: 7em;
        height: 7em;
    }
}